<section class="color-black">
    <header class="container container-gutter padding-vertical-xxl">
        <h1 class="display-title display-title-xxl margin-top-s">{{- .Site.Title }}</h1>
        {{ with $.Site.Params.description }}
        <p class="lead lead-s margin-vertical-xs max-width-s font-family-serif">
            {{ . }}
        </p>
        {{ end }}
        {{ with .Content }}
        <p class="lead lead-s font-family-serif">
            {{ . }}
        </p>
        {{ end }}
    </header>
</section>