{{ define "main" }}

{{- partial "header.html" . -}}

<section class="container margin-vertical-l">
    <h2 class="display-title-l">Latest Posts</h2>
    {{ range first 3 .Site.RegularPages }}
        <h2 class="max-width-m">
            <a href="{{ .Permalink }}" class="text-decoration-none">{{ .Title }}</a>
        </h2>
        <p class="font max-width-m margin-bottom-l">{{ .Summary | truncate 250 | safeHTML }}</p>
        <hr class="divider">
    {{ end }}

    <a href="/posts" class="margin-top-m button button-primary button-border button-icon" rel="noopener noreferrer">
        <span>View all posts</span><svg width="24" height="24" viewBox="0 0 24 24">
            <title>right</title>
            <path d="M18.92,12.38a1,1,0,0,0-.22-1.09l-6-6a1,1,0,0,0-1.41,1.41L15.59,11H6a1,1,0,0,0,0,2h9.59l-4.29,4.29a1,1,0,1,0,1.41,1.41l6-6A1,1,0,0,0,18.92,12.38Z"></path>
        </svg>
    </a>
</section>

{{ end }}
